In [11]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [17]:
 #package for flattening json in pandas df

#load json object
with open('static/analiza/anal.json') as f:
    d = json.load(f)

In [18]:
d

[{'table': 'C',
  'no': '195/C/NBP/2021',
  'tradingDate': '2021-10-06',
  'effectiveDate': '2021-10-07',
  'rates': [{'currency': 'dolar amerykaĹ„ski',
    'code': 'USD',
    'bid': 3.9136,
    'ask': 3.9926},
   {'currency': 'dolar australijski',
    'code': 'AUD',
    'bid': 2.8373,
    'ask': 2.8947},
   {'currency': 'dolar kanadyjski',
    'code': 'CAD',
    'bid': 3.0981,
    'ask': 3.1607},
   {'currency': 'euro', 'code': 'EUR', 'bid': 4.5175, 'ask': 4.6087},
   {'currency': 'forint (WÄ™gry)',
    'code': 'HUF',
    'bid': 0.012581,
    'ask': 0.012835},
   {'currency': 'frank szwajcarski',
    'code': 'CHF',
    'bid': 4.2158,
    'ask': 4.301},
   {'currency': 'funt szterling', 'code': 'GBP', 'bid': 5.3091, 'ask': 5.4163},
   {'currency': 'jen (Japonia)',
    'code': 'JPY',
    'bid': 0.035158,
    'ask': 0.035868},
   {'currency': 'korona czeska', 'code': 'CZK', 'bid': 0.1777, 'ask': 0.1813},
   {'currency': 'korona duĹ„ska', 'code': 'DKK', 'bid': 0.6072, 'ask': 0.6194},
   {'currency': 'korona norweska', 'code': 'NOK', 'bid': 0.455, 'ask': 0.4642},
   {'currency': 'korona szwedzka',
    'code': 'SEK',
    'bid': 0.4443,
    'ask': 0.4533},
   {'currency': 'SDR (MFW)', 'code': 'XDR', 'bid': 5.5005, 'ask': 5.6117}]}]

In [20]:

customer_json_file = 'static/analiza/anal.json'


customers_json = pd.read_json(customer_json_file,
   convert_dates=True)


customers_json

,table,no,tradingDate,effectiveDate,rates
0,C,195/C/NBP/2021,2021-10-06,2021-10-07,"[{'currency': 'dolar amerykański', 'code': 'US..."

In [37]:
import pandas as pd

df6 = pd.DataFrame.from_dict(d, orient='columns')

df6

,table,no,tradingDate,effectiveDate,rates
0,C,195/C/NBP/2021,2021-10-06,2021-10-07,"[{'currency': 'dolar amerykaĹ„ski', 'code': 'U..."

In [38]:
 df2 = pd.json_normalize(d)

df2.columns = df2.columns.map(lambda x: x.split(".")[-1])

df2

,table,no,tradingDate,effectiveDate,rates
0,C,195/C/NBP/2021,2021-10-06,2021-10-07,"[{'currency': 'dolar amerykaĹ„ski', 'code': 'U..."

In [39]:
d

[{'table': 'C',
  'no': '195/C/NBP/2021',
  'tradingDate': '2021-10-06',
  'effectiveDate': '2021-10-07',
  'rates': [{'currency': 'dolar amerykaĹ„ski',
    'code': 'USD',
    'bid': 3.9136,
    'ask': 3.9926},
   {'currency': 'dolar australijski',
    'code': 'AUD',
    'bid': 2.8373,
    'ask': 2.8947},
   {'currency': 'dolar kanadyjski',
    'code': 'CAD',
    'bid': 3.0981,
    'ask': 3.1607},
   {'currency': 'euro', 'code': 'EUR', 'bid': 4.5175, 'ask': 4.6087},
   {'currency': 'forint (WÄ™gry)',
    'code': 'HUF',
    'bid': 0.012581,
    'ask': 0.012835},
   {'currency': 'frank szwajcarski',
    'code': 'CHF',
    'bid': 4.2158,
    'ask': 4.301},
   {'currency': 'funt szterling', 'code': 'GBP', 'bid': 5.3091, 'ask': 5.4163},
   {'currency': 'jen (Japonia)',
    'code': 'JPY',
    'bid': 0.035158,
    'ask': 0.035868},
   {'currency': 'korona czeska', 'code': 'CZK', 'bid': 0.1777, 'ask': 0.1813},
   {'currency': 'korona duĹ„ska', 'code': 'DKK', 'bid': 0.6072, 'ask': 0.6194},
   {'currency': 'korona norweska', 'code': 'NOK', 'bid': 0.455, 'ask': 0.4642},
   {'currency': 'korona szwedzka',
    'code': 'SEK',
    'bid': 0.4443,
    'ask': 0.4533},
   {'currency': 'SDR (MFW)', 'code': 'XDR', 'bid': 5.5005, 'ask': 5.6117}]}]

In [43]:
dataframe = pd.DataFrame.from_dict(d, orient="index")

AttributeError: 'list' object has no attribute 'values'